body{
    background-color: green;
}
.form{
    display: flex;
}

    .form > span{
        position: absolute;
        bottom: 10px;
        color: gray;
    }

    .form > input {
        margin-left: 20px;
        border: none;
        width: 80%;
    }
    input:focus{
        outline: none;
        box-shadow: none!important;
    }

li.list-group-item:hover{
    cursor: pointer;
}

#done li.list-group-item:first-child{
    background-color: green;
    border: none;
    color: white;
}
#done li.list-group-item:not(:first-child){
    text-decoration: line-through;
    color: gray;
}

li.list-group-item span:first-child{
    position: absolute;
    left: 10px;
}

li.list-group-item span:not(:first-child){
    margin-left: 20px;
}

.hidden{
    display: none
}

#more{
    display: inline;
    position: absolute;
    right: 0px;
}

    #more:hover #changeOrder{
    display: block;
    position: absolute;
    }

#changeOrder{
    position: absolute;
    z-index: 999;
    border: 1px solid;
    background: white;
    padding: 5px;
    right: 0;
    font-size: 16px;
    width: 250px;
    
}
    #changeOrder:hover{
        cursor: pointer;
    }

    #changeOrder span:first-child{
        position: absolute;
    }

    #changeOrder span:not(:first-child){
        margin-left: 30px;
    }

header{
    position: relative;
    font-size: 2em;
    color: white;
}

header #more{
    color: black;
}

header #more>a{
    color: white;
}

footer{
    position: fixed;
    background-color: white;
    bottom:0;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -22px;
}

footer .button{
    position: absolute;
    bottom: 25px;
    right: 10px;
}

    footer .button span{
        font-size: 40px;
    }

#newForm {
    border-radius: 30px;
    background-color: white;
    color: green;
    padding: 5px 5px 0px 5px;
}



#submitForm{
    bottom: -5px;
    right: 35px;
}

#submitForm:hover{
    cursor: pointer;
}

#formRoot{
    margin-bottom: 5px;
}


.icon:hover{
    text-decoration: none;
}
